
<script type="text/javascript" src="~/js/site.js"></script>

    @{
        ViewData["Title"] = "Learning diary";
    }

    <div class="row">
        <div class="col">
            <button type="button" class="custom-button">See all topics</button>
        </div>
        <div class="col">
            <form id="searchbar">
                <button type="button" class="custom-button">Search topic</button>
                <input type="search" id="query" name="q" placeholder="Topic id number..">
            </form>
        </div>
        <div class="col">
            <button type="button" class="custom-button">Edit chosen topic</button>
        </div>
        <div class="col">
            <button type="button" class="custom-button">Delete chosen topic</button>
        </div>
    </div>

    <div class="row">

        <div class="col-4" , id="addtopic">
            <p> I will put the Create page here at some point.</p>
          
        </div>

        <div class="col-8" id="topiclist-blackboard">
            <h2>Your topics:</h2>
            <div id="scrollbar" style="overflow-y:scroll; overflow-x:hidden; height:500px;">
                <p> In version 2, I would have this site as onepager where the topics are listed and editable here.</p>
                </div>
                </div>
   

    </div>

